mixin ProductCard(data)
	// start ProductCard
	+b.SECTION.ProductCard.section#ProductCard&attributes(attributes)
		.container
			+breadcrumb("Главная","Каталог", "Посудомоечная машина Asko DFI444B/1" )
			+b.section-title
				h2 Посудомоечная машина<br/> Asko DFI444B/1
				+e.P.headp У загрязнений нет шансов!
			+e.bg-box
				img(src="img/@2x/ProductCardlistBg.jpg" alt="" loading="lazy")
			+e.price-box.row
				.col-auto
					a Купить
				.col-auto
					p 59 999 рублей
			+e.icon-box.row
				.col-md-auto
					+Pcicon("0 отзывов")
				.col-md-auto
					+Pcicon("В избранное","PCheart")
				.col-md-auto
					+Pcicon("Сравнить","PCschedule")
				.col-md-auto
					+Pcicon("Поделиться","PCshare")
			+e.black-row.row
				.col-12.col-lg-5
					+e.img-box
						img(src="img/@2x/PCdishwasher.jpg")
				.col-lg-7
					+e.black-icons.row.gx-4
						+Black-icons("Breuse","Простой возврат и обмен")
						+Black-icons("Bpig","Бесплатная доставка")
						+Black-icons("Bvan","Выгодная цена")
						+Black-icons("Binst","Бесплатная установка")
						+Black-icons("Bshield","Фирменная гарантия")
					.section-title
						+e.black-text
							h3 У загрязнений нет шансов!
							p С Asko DFI444B/1 вы будете наслаждаться идеальной чистотой посуды. Система водной подачи 9Spray™ включает направленные и независимые струйные потоки воды, которые тщательно и качественно обрабатывают всю камеру, разделённую на 9 отдельных зон обработки.
							p Благодаря технологии PowerZone Cutlery™ с зоной усиленного мытья даже самые загрязнённые столовые приборы станут идеально чистыми. А в зоне PowerZone JetSpray™ можно удалить любые загрязнения с нестандартной и крупногабаритной посуды.
							p С системой самоочистки SuperCleaningSystem+ больше не нужно предварительно ополаскивать приборы: рабочая камера и поверхность загруженных предметов очищаются самостоятельно, а датчик чистоты корректирует выбранную программу, чтобы результат вас порадовал и удивил.
			+e.s1.section-title
				h3 Эргономичные корзины
				p В камере посудомоечной машины находится три корзины, вмещающих 14 стандартных комплектов загрязнённой посуды. Верхнее отделение оснащено телескопическими направляющими и может изменяться по высоте размещения. В нижнюю корзину можно загружать предметы небольших и средних размеров. Также предусмотрен отсек для столовых приборов – вилок, ножей, ложек.
			+e.imgrow.row
				.col-4
					+e.img-box
						img(src="img/@2x/PC1.jpg" alt="" loading="lazy")
				.col-4
					+e.img-box
						img(src="img/@2x/PC2.jpg" alt="" loading="lazy" )
				.col-4
					+e.img-box
						img(src="img/@2x/PC3.jpg" alt="" loading="lazy")
			+e.s2.section-title
				h3 Мойка на все случаи жизни
				p В модели Asko DFI444B/1 предусмотрено семь разных программ мытья: по времени, быстрая, с полосканием, гигиеническая, ускоренная, интенсивная и автоматическая. Есть три разных режима мойки: ускоренный для максимально быстрого очищения посуды, ночной с минимальным уровнем шума и нормальный для ежедневных процедур. Также можно создавать собственные настройки и вносить их в память. Предусмотрены опции блокировки от детей, защиты от протечек, смягчения воды. Приятный бонус – индикация хода процесса и завершения цикла, наличия ополаскивателя и соли.
			+e.img-box--1
				img(src="img/@2x/PC4.jpg" alt="" loading="lazy")
			+e.desrow.row
				+e.centercol.col-md-6
					+e.s3.section-title
						h3 Современный дизайн
						p Модель Asko DFI444B/1 является полностью встраиваемой, благодаря чему органично впишется в абсолютно любой интерьер. Лаконичный и стильный дизайн идеально дополнит оформление помещения. Несмотря на размер XL (82 сантиметра), посудомоечная машина смотрится компактно. Дверь цельнометаллическая. Также на корпусе есть текстовый дисплей, чтобы вы могли контролировать процесс мойки.
				.col-md-6
					+e.img-box--2
						img(src="img/@2x/PC5.jpg" alt="" loading="lazy")





mixin Pcicon(text,span)
	+e.picon-group.col-auto
		+icon(span)
		a=text
mixin Black-icons(icon,text)
	+e.black-box.col-3.col-md-auto
		+icon(icon)
		p=text