mixin sSell(data)
	// start sSell
	+b.SECTION.sSell.section#sSell&attributes(attributes)
		.container
			+breadcrumb("Главная","Акции")
			+b.section-title.text-start
				h2 Акции
				P Покупка бытовой техники, особенно крупной, всегда связана с непростым выбором и занимает много времени. Потом ещё приходится доплачивать за то, чтобы она приехала в целости и сохранности, причём стоимость доставки может достигать нескольких тысяч рублей! Но мы всегда идём навстречу нашим клиентам и сделали услугу доставки техники (на выделенный ассортимент) до порога вашего дома в г. Москве абсолютно бесплатной! Товар, участвующий в акции, вы можете найти в нашем Каталоге.
			+e.sell-row.row
				.col-12.col-xxl-6
					+sellCard(1,"Покупай в кредит!","В нашем магазине можно приобрести товары в рассрочку или кредит без первоначального взноса и переплат через Почта Банк.")
				.col-12.col-xxl-6
					+sellCard(2,"Скидка 5% на посудомоечную технику","В нашем магазине можно приобрести товары в рассрочку или кредит без первоначального взноса и переплат через Почта Банк.")
				.col-12.col-xxl-6
					+sellCard(3,"Скидка 15% на холодильники","В нашем магазине можно приобрести товары в рассрочку  без первоначального взноса и переплат через Почта Банк.")
	// end sSell
mixin sellCard(imgnum,header,txt)
	+e.card
		+e.bg
			img(src=`img/@2x/sellBanner${imgnum}.jpg` loading='lazy' alt="#")
		+e.header=header
		+e.txt!=txt
		+e.btn(type="button") подробнее
