// start .ProductCard2
.ProductCard2 {
  --sPT: 0px;

  &__bg-box {
    position: absolute;
    top: rem(204);
    left: 0;
    z-index: -1;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .breadcrumb{
    padding: 45px 0;
  }
}
.smProductCard2{
    z-index: 0;
    background-color:$white ;
    padding: 50px 63px 50px 63px;
    &__Card-header{
      margin-bottom: 30px;
      h3{
        font-size: 36px;
        line-height: calc(44/36);
      }
    }
    &__top-icons-row{
    margin-bottom: rem(50);
    @include media-breakpoint-up(md){
      margin-bottom: rem(82);
    }
    & > *:last-child{
      margin-right: 0;
    }
  }
    &__picon-group{
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: rem(15);
  }
    &__i-txt{
    color: $black!important;
    margin-right: 1px;
    font-size: rem(18);
  }
    &__icon-wrap{
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: rem(20);
    @include media-breakpoint-up(sm){
      min-width: 0;
    }

    margin-right: 14px;

    .icon{
      color: $black;
      font-size: rem(16);
    }
  }
    &__Pc-row{
      --bs-gutter-y: #{rem(45)} ;
    }
    &__img-col{
      @include media-breakpoint-up(xl){
        width: 35% !important;
      }
      @include media-breakpoint-up(xxl){
        width: 42.9% !important;
      }
    }
    &__product-col{
      @include media-breakpoint-up(xl){
        width: 26.6%!important;
      }
    }
    &__product-box{
      .PBkey{
        color: $gray-585;
        margin-right: 3px;
      }
      .PBvalue{
        color: $black;
      }
      margin-bottom: rem(43);
    }
    &__span-box{
      font-size: rem(16);
      line-height: calc(21/16);
      margin-bottom: rem(12);
      & > *:last-child{
        margin-bottom: 0;
      }
    }
    &__more{
      text-decoration: none;
      font-size: rem(12);
      line-height: calc(18/12);
      text-transform: uppercase;
      display: flex;
      align-items: center;
      margin-bottom: rem(51);
      &:before{
        content: "";
        background-size: cover;
        background-repeat:no-repeat ;
        background-image: url(../img/svg/PCplus.svg);
        width: 1rem;
        height: 1rem;
        margin-right: rem(12);
      }
    }
    &__black-section{
      padding: 49px 15px 10px 30px;
      @include media-breakpoint-up(xl){
        padding: 49px 15px 56px 30px;
      }
      background-color: $white;
      margin-bottom: 48px;
      h3{
        font-size: rem(36);
        line-height: calc(24/36);
        margin-bottom: 22px;
      }
    }
    &__bonus-row{
      --bs-gutter-x: 10px;
      margin-bottom: 40px;
    }
    &__bs-val{
      color: #519EFF;
      font-size: rem(16);
      line-height: calc(27/16);
    }
    &__bs-key{
      font-size: rem(16);
      line-height: calc(27/16);
      color: $black;
    }
    &__ask-img-box{
      img{
        max-height: 20px;
        max-width: 20px;
        object-fit: cover;
      }
    }
    &__btn-row{
      --bs-gutter-x: 20px;
      margin-bottom: rem(48);
    }
    &__black-section-btn{
      @extend .btn;
      @extend .btn-primary;
      font-size: rem(16);
      line-height: 1.5;
      background-color: $orange;
      text-transform: uppercase;
      width: 100%;
      padding-left: rem(7);
      padding-right: rem(7);
    }
    &__black-section-btn--b{
      color: #B1B1B1!important;
      background-color: $white;
      text-transform: uppercase;
      padding-top: calc(#{rem(14.5)}-1px);
      padding-bottom: calc(#{rem(14.5)}-1px);
    }
    &__credit-btn{
      display: flex;
      align-items: center;
      text-decoration: none;
      font-size: 18px;
      line-height: calc(27/18);
      &:before{
        content: "";
        background-image: url(../img/svg/Pcpercent.svg);
        width: rem(31);
        height: rem(31);
        margin-right: rem(16);
      }
    }
    &__BS-box{
      & > *:last-child{
        margin-bottom: 0;
      }
    }
    &__BS-key{
      font-size: 16px;
      line-height: calc(21/16);
      color: $orange;
      margin-right: rem(6);
    }
    &__bs-value{
      font-size: 16px;
      line-height: calc(21/16);
      color: $white;
    }
    &__border-section{
      margin-bottom: 20px;
      padding: 16px 1px 16px 27px;
    }
    &__BS-row{
      --bs-gutter-x: 23px;
    }
    &__BS-img{
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(36);
      height: rem(36);
      img{
        max-width: 100%;
        width: auto;
        max-height: 100%;
        height: auto;
      }
    }
    .swiper-pc-thumb{
      .swiper-wrapper{
        max-height: 140px
      }
    }
    &__company-img-box{
      img{
        object-fit: cover;
        max-width: 100%;
      }
    }
    &__thumb-img-box{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      img{
        object-fit: cover;
        max-width: 100%;
      }
    }
    &__smProductCard2__thumb-active{}
    &__img-box{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 550px;
      img{
        max-width: 100%;
        object-fit: cover;
        padding-bottom: rem(60);
        padding-top: rem(54);
      }
      }
} // end.ProductCard2