mixin sArticles(data)
	// start sArticles
	+b.SECTION.sArticles.section#sArticles&attributes(attributes)
		.container
			+breadcrumb("Главная"," Статьи")
			+b.section-title.text-start
				h2 Статьи
			+e.articles-row.row
				+ArticlesCard("1","Как правильно выбрать холодильник","Бензиновый мотобур относится к узкоспециализированным инструментам. Он применяется для бурения почвы и льда. Само по себе устройство не ново, но тем не менее на современном рынке","12 февраля 2021")
				+ArticlesCard("2","Миксеры: выбираем правильный","Бензиновый мотобур относится к узкоспециализированным инструментам. Он применяется для бурения почвы и льда. Само по себе устройство не ново, но тем не менее на современном рынке","12 февраля 2021")
				+ArticlesCard("3","Все о посудомоечной машину","Бензиновый мотобур относится к узкоспециализированным инструментам. Он применяется для бурения почвы и льда. Само по себе устройство не ново, но тем не менее на современном рынке","12 февраля 2021")
				+ArticlesCard("4","Как правильно выбрать мясорубку","Бензиновый мотобур относится к узкоспециализированным инструментам. Он применяется для бурения почвы и льда. Само по себе устройство не ново, но тем не менее на современном рынке","12 февраля 2021")
				+ArticlesCard("5","Как правильно выбрать холодильник","Бензиновый мотобур относится к узкоспециализированным инструментам. Он применяется для бурения почвы и льда. Само по себе устройство не ново, но тем не менее на современном рынке","12 февраля 2021")
				+ArticlesCard("1","Как правильно выбрать холодильник","Бензиновый мотобур относится к узкоспециализированным инструментам. Он применяется для бурения почвы и льда. Само по себе устройство не ново, но тем не менее на современном рынке","12 февраля 2021")
				+ArticlesCard("1","Как правильно выбрать холодильник","Бензиновый мотобур относится к узкоспециализированным инструментам. Он применяется для бурения почвы и льда. Само по себе устройство не ново, но тем не менее на современном рынке","12 февраля 2021")
				+ArticlesCard("2","Миксеры: выбираем правильный","Бензиновый мотобур относится к узкоспециализированным инструментам. Он применяется для бурения почвы и льда. Само по себе устройство не ново, но тем не менее на современном рынке","12 февраля 2021")
				+ArticlesCard("3","Все о посудомоечной машину","Бензиновый мотобур относится к узкоспециализированным инструментам. Он применяется для бурения почвы и льда. Само по себе устройство не ново, но тем не менее на современном рынке","12 февраля 2021")
				+ArticlesCard("4","Как правильно выбрать мясорубку","Бензиновый мотобур относится к узкоспециализированным инструментам. Он применяется для бурения почвы и льда. Само по себе устройство не ново, но тем не менее на современном рынке","12 февраля 2021")
				+ArticlesCard("5","Как правильно выбрать холодильник","Бензиновый мотобур относится к узкоспециализированным инструментам. Он применяется для бурения почвы и льда. Само по себе устройство не ново, но тем не менее на современном рынке","12 февраля 2021")
				+ArticlesCard("1","Как правильно выбрать холодильник","Бензиновый мотобур относится к узкоспециализированным инструментам. Он применяется для бурения почвы и льда. Само по себе устройство не ново, но тем не менее на современном рынке", "12 февраля 2021")
			+e.paginationAct
				+pugin()
	// end sArticles
mixin ArticlesCard(src,h3,p,date)
	.col-sm-12.col-md-4
		+e.articles-card
			+e.img-box
				img(src=`img/@2x/sArticals-${src}.jpg`)
				+e.date-sq=date
			h3=h3
			p=p
			a(href="#") Читать подробнее