mixin sAbout(data)
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+e.bg-box
				img(src="img/@2x/sAbout-bg.png")
			+breadcrumb("Главная" ,"О магазине")
			+e.header-box
				.row
					.col-lg-4.col-xl-5
						+b.section-title
							h2 О магазине
					.col-lg-8.col-xl-7
						+e.historyText.d-lg-block Наша история началась в 2009 году. С тех пор мы постоянно развиваемся и сейчас рады представить вам новейший формат салона бытовой техники, где объединились все лучшие элементы классического офф-лайн шоу-рума и современного интернет&#8209магазина. Наша история началась в 2009 году.
						+e.btn(type="button") написать нам
			+e.h2banner
				img(src="img/svg/h2banner.svg" alt="" loading="lazy")
			+e.ourBenefit.row
				+ourBenefit(2009,"год основания компании","#DFD1CC","#3F3F3F")
				+ourBenefit("1 200","наименований продукции","#717171","#FFFFFF")
				+ourBenefit(34,"крупных бренда","#EEEEEE","#3F3F3F")
				+ourBenefit(48,"подготовленных специалистов","#ACB9C0","#3F3F3F")
			+e.content
				h3 Приветствуем Вас на сайте компании «Китченмания»!
				p Наша история началась в 2009 году. С тех пор мы постоянно развиваемся и сейчас рады представить вам новейший формат салона бытовой техники, где объединились все лучшие элементы классического офф-лайн шоу-рума и современного интернет-магазина:
				ul
					li Можно приехать к нам в гости и познакомиться лично, а лучшие профессионалы своего дела – наши консультанты, с удовольствием проведут экскурсию и посоветуют, что лучше всего подходит под ваши ожидания и требования
					li Можно потрогать и оценить выбранный товар «в живую»;
					li Можно увидеть, как действительно работает техника в специально оборудованных для этого зонах: кухни и постирочная комната полностью укомплектованы оборудованием, подключены и к электричеству, и к водоснабжению;
					li Можно не торопиться с выбором на месте, сделать заказ в онлайн-версии нашего шоу-рума, то есть на этом сайте, так как цены у нас одинаковые на обоих площадках.
			+e.H3.headline Выбирая нас, вы можете быть уверены, что мы всегда ориентировались на пожелания наших клиентов  и собрали у себя всё самое важное для вас:
			+e.row.row.cardIcons
				+aboutIcons(1,"Адекватные цены")
				+aboutIcons(2,"Бесплатная доставка")
				+aboutIcons(3,"Бесплатная установка")
				+aboutIcons(3,"Бесплатная установка")
				+aboutIcons(5,"Фирменная гарантия")
				+aboutIcons(6,"Много акций и скидок")
				+aboutIcons(7,"Всегда живая обратная связь")
			+e.questionBar Если у вас остались какие-либо вопросы, пожелания, предложения или замечания, касающиеся работы нашего Шоу-рума ил Интернет-магазина – просто напишите нам на почту
				|
				|
				a(href="#") shop@kitchenmania.ru
				|
				|	и мы обязательно отреагируем



mixin ourBenefit(num,benefit,colorcard,colornum)
	.col-12.col-md-6.col-xxl-3
		+e.cardBenefit(style={background : colorcard,})
			span(style={color:colornum})=num
			span=benefit



mixin aboutIcons(num,text)
	+e.icon-col.col-md-3.col-xl-auto
		.row.align-items-center.gx-4
			.col-auto.col-md-12
				+e.icon-box
					img(src=`img/@2x/aboutIcons-${num}.png` alt="" loading="lazy")
			.col.col-md-12
				+e.iconsBox.text-md-center=text