// start .sCooperation
.sCooperation {
	.breadcrumb{
		margin-bottom: rem(32);
	}
	&__coop-title{
		margin-bottom: rem(18);
	}
	.section-title{
		h2{
			color: $black;
		}
	}
	&__cards-row {
		margin-bottom: rem(70);
	}
	&__coop-ci-box{
		img{
			object-fit: cover;
			width: 100%;
		}
		margin-bottom: rem(30);
	}
	&__coop-txt-box{
		h3{
			font-size: rem(26);
			line-height: calc(34/26);
			padding-bottom: rem(10);
		}
		text-align: start;
		font-size: rem(16);
		line-height: calc(26.5/16);
	}
} // end.sCooperation