mixin sCooperation(data)
	// start sCooperation
	+b.SECTION.sCooperation.section#sCooperation&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sCooperation
				
			.row
	// end sCooperation