// start .sCooperation
.sCooperation {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
	.section-title{
		h2{
			color: $black;
		}
	}
	&__coop-title{
		margin-bottom: 18px;
	}
	.breadcrumb{
		margin-bottom: 32px;
	}
	&__cards-row{
		margin-bottom: 70px;
	}
	&__coop-card{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__coop-img-box{
		max-width: 665px;
		img{
			object-fit: cover;
			width: 100%;
		}
		margin-bottom: 30px;
	}
	&__coop-txt-box{
		h3{
			font-size: 26px;
			line-height: calc(34/26);
		}
		max-width: 665px;
		text-align: start;
		font-size: 16px;
		line-height: calc(26.5/16);
		.section-title{
			padding-bottom: 10px;
		}
	}
	&__coop-card-row{
		--bg-gutter-y: 45px;
	}
	&__form{
		background-image: url("../img/@2x/sCooperationFormBg.png");
		padding: rem(55) rem(70) rem(74) rem(70);
		.section-title{
			h2{
				color: $white ;
			}
			padding-bottom: 10px;
		}
		p {
			color: $white;
			font-size: 16px;
			line-height: calc(44/16);
		}
	}
	&__inputs-box-row{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__coop-form-input{
		max-width: 408px;
	}
	&__btn{
		@extend .catalog-btn;
		max-width: 343px;
		padding: 13px 110px !important;
	}
} // end.sCooperation