extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sFamiliar/_sFamiliar.pug
include ../blocks/sPopular/_sPopular.pug
include ../blocks/sNew/_sNew.pug
include ../blocks/sIcons/_sIcons.pug
include ../blocks/sBest/_sBest.pug
include ../blocks/sGForm/_sGForm.pug
include ../blocks/sBrends/_sBrends.pug
include ../blocks/sTags/_sTags.pug
include ../blocks/headerM/_headerM.pug
include ../blocks/topLineM/_topLineM.pug
include ../blocks/top-navM/_top-navM.pug

block variables
    - let  mainPage= null
    - let  bg= '01.png'

block title
    - let  title= 'title'
    title= title
block pagecontent
    +mob-mnu()
    +headerM()
        +topLineM()
        +top-navM()
        +brandsM()