mixin sIpal(data)
	// start sIpal
	+b.SECTION.sIpal.section#sIpal&attributes(attributes)
		.container
			+breadcrumb("Главная ","Рассрочка и кредит")
			+b.section-title
				h1 Рассрочка и кредит
			+e.info-row.row
				.col-md
					+e.sub-title
						h3 Рассрочка по программе «покупай со Сбером»
						p Выберите на нашем сайте kitchenmania.ru товар или услугу, положите его (её) в корзину. Далее в способах оплаты выберите и нажмите «Покупай со Сбером». После с вами свяжется менеджер магазина, уточнит детали заказа и направит ссылку для оформления кредита\рассрочки. Когда откроется СберБанк Онлайн, авторизуйтесь и заполните заявку. Рассмотрение заявки займет не более 2-х минут Если кредит одобрен, деньги за покупку автоматически будут перечислены на счёт магазина Согласуйте с магазином комфортный способ и время доставки
						blockquote Владельцы дебетовой банковской карты ПАО Сбербанк, подключившиеся к услуге «Мобильный банк» и системе «Сбербанк Онлайн», могут оформить рассрочку платежа, не выходя из дома.
					+e.info-row.row
						.col-xl-6
							+e.info-box
								h4 Условия кредитования
								ul
									li
										b Цель кредита:
										|  на цели личного потребления

									li
										b Валюта кредита:
										|  рубли
									li
										b Процентная ставка (годовая), %:
										|  Определяется индивидуально и указывается в индивидуальных условиях кредитования
									li
										b Минимальная сумма кредита:
										|  3 000
									li
										b Максимальная сумма кредита*:
										|  300 000
									li
										b Срок действия кредита**:
										|  от 3 до 36 мес.
									li
										b Обеспечение по кредиту:
										|  не требуется
									li
										b Комиссия за выдачу кредита:
										|  отсутствует
								p * Лимит суммарного остатка задолженности по данному продукту не должен превышать 300 000 рублей.
								p ** Минимальный/максимальный срок кредитования может быть изменён в рамках достигнутой договорённости с соответствующим партнёром Банка Подробнее с условиями кредитования можно ознакомиться на <a href="#">сайте программы.</a>
						.col-xl-6
							+e.info-box--2
								h4 Требования к заемщикам
								ul
									li
										b Гражданство:
										|Российская Федерация
									li
										b Возраст:
										| не менее 21 года
									li
										b Возраст на момент возврата кредита по договору:
										| не более 65 лет
									li
										b Использование сервисов Банка:
										| держатель дебетовой банковской карты, выпущенной Банком, заключивший с Банком Договор банковского обслуживания, а также подключившийся к услуге «Мобильный банк» и системе Сбербанк Онлайн
									li
										b Регистрация:
										| наличие постоянной (временной) регистрации по месту жительства/пребывания на территории Российской Федерации
				.slider-col.col-md-auto
					+bannerSwiper("img/@2x/sDapBanner1.jpg")