mixin sVac(data)
	// start sVac
	+b.SECTION.sVac.section#sVac&attributes(attributes)
		.container
			+breadcrumb("Главная" ,"Вакансии")
			+b.section-title.text-start
				h2 Вакансии
			.row
				.col-9
					+vacantion({
						title: "Продавец-консультант в торговый зал",
						salary1: " не указана",
						list:["• Организация и контроль работы склада по приему, хранению и отпуску товаров, по их размещению с учетом наиболее рационального использования складских площадей",
								"• Ведение бюджета по доставкам ",
								"• Обработка рекламаций, выставление претензий, отправка рекламационных тмц.",
								"• Контроль актуальности доставки тмц в дальние регионы ",
								"• Учет и контроль процессов поставки товара на склад;",
								"• Обеспечение сохранности складируемых товарно-материальных ценностей;",
						],
						grey:"г. Подольск ",
						grey1:"Дата размещения вакансии: 15 июня 2022"
					})
				.col-3
				.col-9
					+vacantion({
						title: "Продавец-консультант в торговый зал",
						salary1: " не указана",
						list: ["• Организация и контроль работы склада по приему, хранению и отпуску товаров, по их размещению с учетом наиболее рационального использования складских площадей",
							"• Ведение бюджета по доставкам ",
							"• Обработка рекламаций, выставление претензий, отправка рекламационных тмц.",
							"• Контроль актуальности доставки тмц в дальние регионы ",
							"• Учет и контроль процессов поставки товара на склад;",
							"• Обеспечение сохранности складируемых товарно-материальных ценностей;",
						],
						grey: "г. Подольск ",
						grey1: "Дата размещения вакансии: 15 июня 2022"
					})
				.col-9
					+vacantion({
						title: "Продавец-консультант в торговый зал",
						salary1: " не указана",
						list: ["• Организация и контроль работы склада по приему, хранению и отпуску товаров, по их размещению с учетом наиболее рационального использования складских площадей",
							"• Ведение бюджета по доставкам ",
							"• Обработка рекламаций, выставление претензий, отправка рекламационных тмц.",
							"• Контроль актуальности доставки тмц в дальние регионы ",
							"• Учет и контроль процессов поставки товара на склад;",
							"• Обеспечение сохранности складируемых товарно-материальных ценностей;",
						],
						grey: "г. Подольск ",
						grey1: "Дата размещения вакансии: 15 июня 2022"
					})
				.col-9
					+vacantion({
						title: "Продавец-консультант в торговый зал",
						salary1: " не указана",
						list: ["• Организация и контроль работы склада по приему, хранению и отпуску товаров, по их размещению с учетом наиболее рационального использования складских площадей",
							"• Ведение бюджета по доставкам ",
							"• Обработка рекламаций, выставление претензий, отправка рекламационных тмц.",
							"• Контроль актуальности доставки тмц в дальние регионы ",
							"• Учет и контроль процессов поставки товара на склад;",
							"• Обеспечение сохранности складируемых товарно-материальных ценностей;",
						],
						grey: "г. Подольск ",
						grey1: "Дата размещения вакансии: 15 июня 2022"
					})

	// end sVac
mixin vacantion(data)
	+e.content-box
		h3=data.title
		+e.P.salary
			b Заработная плата :
			|
			=data.salary1
		ul
			each li in data.list
				li=li
		+e.P.grey-paraph
			=data.grey
			|
			span=data.grey1
		+e.btn(type="button") Откликнуться