mixin sDAP(data)
	// start sDAP
	+b.SECTION.sDAP.section#sDAP&attributes(attributes)
		.container
			+breadcrumb("Главная","Доставка и оплата")
			.section-title
				h2 Доставка и оплата
			.tabs
				+e.btn-row.tabs__caption.row
					.col-auto
						+e.btn.tabs__btn.active(type="submit") Способы доставки
					.col-auto
						+e.btn.tabs__btn(type="submit") Способы оплаты
				.tabs__content.active
					+deliveryContent()
				.tabs__content
					+payContent()
	// end sDAP
mixin deliveryContent()
	+b.deliveryContent
		+e.header-p Вы можете приобрести все товары из нашего ассортимента с доставкой во все города России. По Москве и Московской области мы доставляем Ваши заказы ежедневно в удобное для Вас время. Также у нас можно забрать заказы самостояельно. Более подробно ознакомится с условиями можно в разделе
			a(href="#") самовывоз.
		+e.terms-row.row
			.col-12.col-lg-8
				h3 Условия доставки
				p Доставка осуществляется на фактический адрес (улица, дом, квартира или офис), в офисные здания, торговые центры и предприятия доставка осуществляется до первого "препятствия" (кпп, ресепшн, проходная и т.п.).Мы не доставляем заказы в парки, лесные массивы, на пляжи или иные места, не имеющие определенного адреса. Время ожидания курьером не более 15 мин. При доставке на территорию с оплачиваемым въездом, вы оплачиваете стоимость въезда, иначе доставка только до места платного въезда. В день доставки, по указанному в заказе телефону, с покупателем связывается курьер и уточняет адрес и интервал времени доставки.
				p В указанный период покупатель должен находиться по адресу доставки, а контактные телефоны должны быть доступны. Если курьер не дозвонился до Вас, доставка осуществлена не будет, но может быть перенесена на ближайшую дату по Вашему желанию. Внимание! Крупногабаритный товар, который невозможно занести в помещения по причине того, что дверной проем меньше по высоте и/или ширине габаритных размеров товара, доставляется до порога. В случае отказа от доставки такого товара стоимость услуг доставки оплачивается клиентом в полном размере.
			.col-12.col-lg-4
				+e.img-box.deliveryImg
					img(src='img/@2x/delivery-img.png')
		+e.delivery-row.row
			.col-12.col-xxl-6
				+delivery("Доставка по Москве","Практически на все товары в нашем магазине действует бесплатная доставка. В ином случае - стоимость доставки указана в карточке товара")
			.col-12.col-xxl-6
				+delivery("Доставка по Московской области","Стоимость доставки рассчитывается исходя из стоимости доставки по Москве +30 рублей за каждый километр от МКАД до пункта доставки.")
			.col-12.col-xxl-6
				+delivery("Доставка по Российской Федерации","Стоимость доставки рассчитывается исходя из стоимости доставки по Москве +30 рублей за каждый километр от МКАД до пункта доставки.")
			.col-12.col-xxl-6
				+delivery("Доставка при помощи транспортных компаний-партнёров","Деловые линии, ПЭК, СДЭК")
		+e.map-row.row
			.col-12.col-xl-6
				+e.img-box
					img(src="img/@2x/mapContact2.png")
			.col-12.col-xl-6
				+e.box4box
					+e.header-box
						h4 Самовывоз
						p Вы можете самостоятельно получить товар у нас в шоу-руме. Просто оформите заказа на сайте или по телефону и выберите услугу "Самовыоз". Срок хранения заказа на пункте выдачи - 2 дня, после этого срока заказ расформировывается и возвращается на склад.
					+e.box-adress
						h5 Адрес:
						p г. Москва, ул.Складочная д.1, стр. 9
					+e.box-href
						a(href='#') Схема проезда от станции метро Дмитровская
						a(href='#') Схема проезда от станции метро Савеловская
					+e.box-cost
						h5 Стоимость:
						p Бесплатно
		+e.del-company
			h3 Доставка транспортной компанией
			p Мы продолжаем расширять границы доставки заказов. Это стало возможным благодаря сотрудничеству с транспортной компанией СДЭК, которая с 2000 года организовывает перевозки грузов, деловой корреспонденции, товаров разных категорий, габаритов, ценности по Москве, России и миру. У компании более 420 собственных офисов и около 400 партнерских, порядка 5 000 машин для доставки документов и грузов



mixin delivery(h4,p)
	+e.deliver-box
		h4=h4
		p=p