// start .sDAP
.sDAP {
	--sPB:0PX;
	.breadcrumb{
		margin-bottom: rem(31);
	}
	.section-title{
		padding-bottom: rem(40);
		h2 {
			font-size:rem(36) ;
			line-height: calc(44/36);
		}
	}
	h3{
		font-size: rem(26);
		line-height: calc(34/26);
		margin-bottom: rem(10);
	}
	h4{
		font-size: rem(20);
		line-height: calc(34/20);
		margin-bottom: rem(5);
	}
	h5{
		font-size: rem(16);
		line-height: calc(26.5/16);
	}
	p{
		font-size: rem(16);
		line-height: calc(22/16);
	}
	&__btn{
		@extend .catalog-btn;
		text-transform:none !important;
		padding: rem(6) rem(20) rem(6) rem(20) !important;
		font-size: rem(20) !important;
		line-height: calc(44/20) !important;
		margin-bottom: rem(35);
	}
	&__btn--second{
		background-color: #{$gray-280} !important;
		color: #{$black} !important;
		margin-left: rem(16);
	}
	&__img-box{
		img{
			object-fit: cover;
			width: 100%;
		}
	}
	&__header-p{
		font-size: rem(20) !important;
		line-height: calc(25.5/20) !important;
		margin-bottom: rem(40);
		a{
			color: $blue;
			margin-left: rem(5);
		}
	}
	&__first-row{
		margin-bottom: rem(50);
		p{
			margin-bottom: rem(15);
		}
	}
	&__deliver-box{
		border: 1px solid #E6E6E6;
		padding: rem(20) rem(70) rem(33) rem(34);
		p{
			margin-bottom: 0;
		}
		min-height: rem(136);
	}
	&__second-row{
		margin-bottom: rem(25);
		--bs-gutter-y:#{rem(30)};
	}
	&__third-row{
		margin-bottom: rem(51);
		a {
			display: block;
			text-decoration: none;
			font-size: rem(14);
			line-height: calc(26.5 / 14);
		}
	}
	&__header-box{
		padding: 0 rem(45) 0 0;
		margin-bottom: rem(20);
		h4{
			padding-top: rem(34);
		}
	}
	&__del-company{
		margin-bottom: rem(31);
	}
	&__box-href{
		margin-bottom: rem(20);
	}
	&__box-adress{
		h5{
			margin-bottom: rem(2);
		}
		p{
			margin-bottom: rem(11);
		}
	}
	&__box-cost{
		h5{
			margin-bottom: rem(4);
		}
	}

} // end.sDAP