// start .sDap2
.sDap2 {
	--sPB:#{rem(6)};
	.breadcrumb{
		margin-bottom: rem(31);
	}
	.section-title{
		padding-bottom: rem(40);
		h2 {
			font-size:rem(36) ;
			line-height: calc(44/36);
		}
	}
	&__btn-row{
		--bs-gutter-x: #{rem(20)};
	}
	&__btn{
		&.active{
			--btn-txt-c: #{$white};
			--btn-bg-c: #{$orange};
		}
		@extend .catalog-btn;
		background-color: var(--btn-bg-c,$gray-280) !important;
		color: var(--btn-txt-c,$black) !important;
		text-transform:none !important;
		padding: rem(6) rem(20) rem(6) rem(20) !important;
		font-size: rem(20) !important;
		line-height: calc(44/20) !important;
		margin-bottom: rem(48);
	}
}
.payContent{
	&__slider-col{
		@include media-breakpoint-up(xxl){
			position: relative;
			margin-top: (-74px);
		}
	}
	&__sw-con {
		width: 317px;
		margin-bottom: rem(15);
		height: 370px;
		@include media-breakpoint-up(sm) {
			height: auto;
		}
	}
	&__sw-sl{
		width: rem(317);
		position: relative;
	}
	&__sw-pag{
		margin-bottom: rem(30);
	}
	&__content-box{
		padding: rem(45) rem(30) rem(45) rem(30);
		position: absolute;
		left: 0;
		bottom: 0;
		button{
			@extend .catalog-btn ;
			@extend .btn ;
			@include media-breakpoint-up(md){
				padding:rem(13) rem(50) !important;
			}
			padding: rem(13) 72px !important;
		}
		h3{
			font-size: rem(26);
			line-height: calc(34/26);
			color: $white;
			margin-bottom: rem(12);
		}
		p{
			font-size: rem(16);
			line-height: calc(22/16);
			color: $white;
			margin-bottom: rem(37);
		}
	}



	&__head{
		border-top: 1px solid #E7E7E7;
		padding: 16px 0 16px 0;
	}
	&__h-icon{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__dd-box{
		&.active{
			--h-row-c: #{$orange};
			--chevron-rot-x: 180deg;
		}
	}
	&__h-icon>svg {
		max-width: 100%;
		width: rem(36);
	}
	&__h-row{
		--bs-gutter-x: #{rem(16)} !important;
		color: var(--h-row-c,black);
	}
	&__title{
		font-size: rem(26);
		line-height: calc(34/26);
	}
	&__chevron{
		transform:rotateX(var(--chevron-rot-x,0deg));
		transition: all 0.5s ease-in-out;
	}
	&__content{
		display: none;
		p{
			font-size: 16px;
			color: $black;
			line-height: 20px;
			margin-bottom: 48px;
		}
	}
}


