mixin sFamiliar1(data)
	// start sFamiliar1
	+b.SECTION.sFamiliar1.section#sFamiliar1&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sFamiliar1 123123
				
			.row
	// end sFamiliar1