mixin sArticle(data)
	// start sArticle
	+b.SECTION.sArticle.section#sArticle&attributes(attributes)
		.container
			+breadcrumb("Главная","Каталог", " Посудомоечная машина Asko DFI444B/1" )
			.row
				.col-3
					+e.ulcontainer
						h3 Содержание
						ul Разновидности мотобуров
						ul Как правильно выбрать мотобур?
							li Тип двигателя
							li Мощность и рабочий объем двигателя
							li Редуктор
							li Скорость вращения бура
							li Диаметр шнека
							li Дополнительные функции

						ul Производители мотобуров
						ul Популярные модели
							li Huter GGD-52
							li Калибр БС-1650
							li FUBAG FPB 52
							li Champion AG243
						ul Заключение
				.col-9
					+e.paragraphs-box
						+b.section-title.text-start
							h1 Как правильно выбрать посудомоечную машину: пособие по⠀подбору, уходу, сервису
						p Ассортимент мотобуров довольно широкий. На рынке представлены инструменты разных производителей. Модели различаются по техническим характеристикам, функциональным возможностям, качеству исполнения, стоимости. Классифицируются их по назначению на бытовые и профессиональные. Первые предназначены для работы на приусадебном участке, в саду, на даче, вторые используют на стройплощадках, при проведении геологических исследований и пр. Как выбрать хороший мотобур? Ответить на этот вопрос непросто. Нужно проанализировать различные параметры, сравнить модели, чтобы подобрать наиболее подходящий под ваши цели инструмент.
						h2 Разновидности мотобуров
						p Перед тем как приступать к выбору мотобура, следует ознакомиться с разновидностями инструментов. Какие они вообще бывают и для чего применяются? Классифицируют устройства по нескольким параметрам.
							br
							br
							| Ассортимент мотобуров довольно широкий. На рынке представлены инструменты разных производителей. Модели различаются по техническим характеристикам, функциональным возможностям, качеству исполнения, стоимости. Классифицируются их по назначению на бытовые и профессиональные. Первые предназначены для работы на приусадебном участке, в саду, на даче, вторые используют на стройплощадках, при проведении геологических исследований и пр. Как выбрать хороший мотобур? Ответить на этот вопрос непросто. Нужно проанализировать различные параметры, сравнить модели, чтобы подобрать наиболее подходящий под ваши цели инструмент.
						h2 Как выбрать мотобур правильно?
						p Выбрать хороший мотобур не так-то просто. Если вы хотите купить действительно надежное устройство, которое прослужит долго, исправно выполняя поставленные задачи, доверяйте продукции известных производителей. Перед тем как отдать деньги за инструмент, почитайте отзывы, ознакомьтесь с техническими характеристиками и особенностями моделей, проведите сравнение по ценам.
						h2 Тип двигателя
						p Наверное, главный критерий выбора, от которого зависят эксплуатационные свойства инструмента, это тип силового агрегата. Производители оснащают свои мотобуры двухтактными и четырехтактными двигателями. Первые устанавливают в моделях бытового класса, вторые используют для комплектации профессиональных инструментов.
							br
							br
							|Мотобуры с двухтактными моторами более компактные, имеют меньший вес, стоят дешевле. Работают они на бензиново-масляной смеси, которую нужно готовить перед каждым применением. К недостаткам относят шумность, увеличенный расход бензина и масла.
							br
							br
							|Инструменты, предназначенные для интенсивной эксплуатации в сложных условиях, оснащаются четырехтактными двигателями. Такие моторы работают на бензине. Масло заливается в отдельный резервуар. 4-тактные двигатели более экологичны, обеспечивают мотобуру высокую производительность. Но стоят такие модели дорого. К другим минусам относят большой вес, требовательность к качеству топлива.
						h2 Мощность и рабочий объем двигателя
						p
							| От мощности инструмента зависит то, с какими задачами он сможет справляться. Этот критерий связан с такими параметрами, как рабочий объем мотора и максимальный диаметр бурения. Чем мощнее агрегат, тем больше будет весить инструмент, и тем выше его стоимость. Соотношение объёма двигателя и диметра отверстия:
							br
							| • 43 см3 – до 15 см – самые простые, маломощные устройства;
							br
							| • 52 см3 – до 20 см – модели способны справляться с большинством задач на дачном и приусадебном участке;
							br
							| • 65 см3 – до 25 см – эффективно выбуривают отверстия даже на плотной и мерзлой земле, хорошо себя проявляют на сложных грунтах;
							br
							| • 75 см3 – до 30 см – мощные профессиональные агрегаты, предназначенные для выполнения сложных задач.
							br
							| В продаже есть модели, которые комплектуются и более мощными двигателями. Они совместимы со шнеками большого диаметра, рассчитаны на управление двумя операторами. Рабочий объем двухтактных моторов достигает 90 см3, четырехтактных – 200 см3. Инструменты способны бурить отверстия диаметром до 60 см, хорошо себя проявляют на забитых глинистых почвах.
						h2 Редуктор
						p Важный комплектующий элемент мотобура – редуктор. Этот механизм предназначен для повышения вращательного момента бура. Его размер влияет на стоимость инструмента. Чем больше редуктор, тем дороже устройство. Передаточное отношение большинства моделей бытового класса составляет 30 к 1
						h2 Скорость вращения бура
						p Этот показатель нужно учитывать при выборе мотобура для грунта определенного состава и плотности. Например, если предполагается работа на лёгких грунтах, подойдет модель со скоростью вращения более 250 об./мин. А вот модели, у которых этот параметр не превышает 200 об./мин, можно использовать для бурения отверстий в разных почвах, а также в ледовой толще.
						h2 Вес устройства
						p Если предполагается работа на строительной площадке, бурение лунок под посадку саженцев или эксплуатация инструмента на зимней рыбалке, можно купить устройство, вес которого не превышает 16 кг. Для подготовки ям под опорные столбы или заземляющий контур рекомендуется использовать более производительные, габаритные и тяжёлые агрегаты весом от 17 кг.
						h2 Производители мотобуров
						p На современном рынке представлены модели разных торговых марок. Раньше фирменные инструменты были для многих недоступны из-за высоких расходов на их изготовление. Сегодня же купить брендовый мотобур можно по весьма привлекательной стоимости. Дело в том, что многие крупные компании из Европы перенесли свои производственные мощности в Китай, добившись, таким образом, снижения себестоимости устройств. Доступны также инструменты малоизвестных китайских торговых марок, но качество их сборки может вызывать сомнения.
							br
							br
							|Если планируете покупать мотобур, обязательно учитывайте бренд, под которым выпускается инструмент. Конечно, неудачные модели есть практически у каждого производителя, но фирменные устройства таки надежнее и производительнее.
							br
							|• Hitachi. Уже лет 6 инструменты этой торговой марки изготавливаются в Китае. Особенно популярные модели, рассчитанные на управление одним оператором. • Oleo-Mac. Торговая марка принадлежит итальянской компании. К преимуществам моделей относят высокое передаточное число и великолепное качество сборки. Производитель на надежности и безопасности инструментов не экономит.
							br
							|• Echo. Японский бренд, но некоторые модели изготавливаются в США. Цена инструментов высокая, но и качество соответствующее. Особенностью моделей является встроенный адаптер. Его устанавливают не на мотобур, а на шнек.
							br
							|• Stihl. Немецкая компания выпускает инструменты, которые сочетают в себе великолепное качество сборки, безупречную функциональность, надежность. В линейке есть модели, рассчитанные на одного или двух операторов.
							br
							br
							|Хорошие мотобуры выпускают такие производители, как Чемпион, Хутер, Калибр, Фубаг и др. Фирменный инструмент бытового класса можно приобрести по цене до 10 000 рублей. За профессиональный агрегат придётся отдать больше – от 30 000 рублей.
	// end sArticle